* {
font-family:'goudy bookletter 1911', 'times new roman', serif;
  padding:1%;
  margin:1%;
}
body {
background-color:#33ffcc;
  font-family:100%
}

.head {
font-size:200%;
  font-weight:bold;
  font-family:'smokum';
}
.blur {
filter: blur(50%);
}
